body{
    text-align: center;
    font-family: "Lato";
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(img/hora.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: azure;
}
.obal{
    background: rgba(0, 10, 4, 0.6);
}
h1{
    margin-bottom: 50px;
    font-weight: 100;
    font-size: 100px;
}
h2{
    text-shadow: 0px 0px 2px black, 0px 0px 20px black,0px 0px 2px rgb(4, 4, 58);
}
.prv{
    background: rgba(0, 10, 4, 0.6);
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 10px;
}
.btn{
    background: rgba(0, 10, 4, 0.4);
    margin: 20px;
    /* margin-left: 50px; */
}

.footer{
    display: flex;
    position: fixed;         
    bottom: 0px; 
    /* margin: 20px; */
    background: rgba(0, 10, 4, 0.5);
    padding-top: 5px;
    padding: 30px;
}


@media (max-width: 575.98px) {
    .footer{
        display: none;
    }
    h1{
        font-size: 50px;
    }
}
